<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
<!--目标对象-->
        <bean id="arithmeticCalculatorImpl" class="pers.jin.spring.aspectj.xml.ArithmeticCalculatorImpl"></bean>
<!--切面        -->
        <bean id="loggingAspect" class="pers.jin.spring.aspectj.xml.LoggingAspect"></bean>
        <aop:config>
            <aop:aspect ref="loggingAspect" order="2">
                <aop:pointcut id="pointcut" expression="execution(* pers.jin.spring.aspectj.xml.*.*(..))"/>
                <aop:after method="afterMethod" pointcut-ref="pointcut"></aop:after>
                <aop:before method="beforeMethod" pointcut-ref="pointcut"></aop:before>
            </aop:aspect>
        </aop:config>
</beans>